<a href="https://colab.research.google.com/github/sebasbrowar/FisicaComputacional1/blob/main/Actividad3/Actividad3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ${\text{Leyendo un archivo de datos a Pandas}}$
$\text{Leeremos el archivo de datos meteorológicos de la estación 2038 en Tijuana, Baja California para así poder analizarlos.}$

In [3]:
import numpy as np
import pandas as pd

# Pandas permite leer archivos csv, Excel y otros formatos
# Tomar la dirección URL del archivo en formato 'raw'
url = 'https://raw.githubusercontent.com/sebasbrowar/FisicaComputacional1/main/Actividad3/2038.txt'

# Definimos los nombres de las columnas
# El archivo tiene códigos ASCII extendido (Español), encoding='cp1251' Windows (Europa Occidental)
# El separador de datos es de uno o más espacios, sep='\s+'
# Se brincará los primeros 19 renglones y el último, afirmamos que no nay encabezado
# Se procesan los datos utilizando Python, engine='python' 
my_cols = ['Fecha','Precip','Evap','Tmax','Tmin']
df_dist = pd.read_csv(url, names=my_cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

$\text{Imprime el encabezado y final del dataframe: print(df.head(10)), print(df.tail(10))}$

In [4]:
# revisamos el encabezado y el final del dataframe
print(df_dist.head(10))
print(df_dist.tail(10))

        Fecha Precip Evap  Tmax  Tmin
0  01/01/1929      0   11  Nulo  Nulo
1  02/01/1929      0    5  23.5     8
2  03/01/1929      0    1    19     4
3  04/01/1929      0    3  18.5   6.5
4  05/01/1929      0    4    20     2
5  06/01/1929      0    3  22.5     5
6  07/01/1929      0    3  15.5     6
7  08/01/1929      0    2    19     5
8  09/01/1929      0    2  15.5     5
9  10/01/1929      0    3  21.5     1
            Fecha Precip Evap Tmax Tmin
28858  22/12/2012      0  2.5   18    5
28859  23/12/2012      0  0.4   18    5
28860  24/12/2012      0  2.8   19    6
28861  25/12/2012      0  0.2   19    6
28862  26/12/2012    0.5  0.1   17    6
28863  27/12/2012      0  0.4   17    9
28864  28/12/2012      0  2.7   21    5
28865  29/12/2012    3.1  1.3   17    5
28866  30/12/2012    5.6    2   13    6
28867  31/12/2012      0  0.2   18    5

$\text{¿Qué dimensiones tiene tu dataframe?: df.shape}$

In [5]:
# investigamos su tamaño con la función shape(renglones, columnas)
df_dist.shape

(28868, 5)

$\text{¿Cómo es el contenido de tu dataframe?: df.info()}$

In [6]:
# información del dataframe
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28868 entries, 0 to 28867
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   28868 non-null  object
 1   Precip  28868 non-null  object
 2   Evap    28868 non-null  object
 3   Tmax    28868 non-null  object
 4   Tmin    28868 non-null  object
dtypes: object(5)
memory usage: 1.1+ MB

$\text{Hacemos una copia para quedarnos con el dataframe original}$

In [7]:
# hacemos una copia de trabajo y preservamos el dataframe original
df_work0 = df_dist.copy()
df_work0.head()

        Fecha Precip Evap  Tmax  Tmin
0  01/01/1929      0   11  Nulo  Nulo
1  02/01/1929      0    5  23.5     8
2  03/01/1929      0    1    19     4
3  04/01/1929      0    3  18.5   6.5
4  05/01/1929      0    4    20     2

$\text{Los datos originales incluyen la cadena de caracteres 'Nulo', indicando que no hubo datos para esa variable, ese día. Tenemos que reemplazar la palabra nulo con la función: df.replace()}$

In [8]:
# reemplazamos los textos Nulo por espacio en blanco ''
str_Nulo = 'Nulo'
df_work1 = df_work0.replace(to_replace=str_Nulo, value='', regex=True)
df_work1.head()

        Fecha Precip Evap  Tmax Tmin
0  01/01/1929      0   11
1  02/01/1929      0    5  23.5    8
2  03/01/1929      0    1    19    4
3  04/01/1929      0    3  18.5  6.5
4  05/01/1929      0    4    20    2

$\text{Vemos la información recién actualizada}$

In [9]:
# imprimimos la información actualizada del dataframe
df_work1.info() # vemos que la info sigue igual, seguidamente convertiremos a número flotante unos datos, por ahora todos son objetos
print(df_work1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28868 entries, 0 to 28867
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   28868 non-null  object
 1   Precip  28868 non-null  object
 2   Evap    28868 non-null  object
 3   Tmax    28868 non-null  object
 4   Tmin    28868 non-null  object
dtypes: object(5)
memory usage: 1.1+ MB
        Fecha Precip Evap  Tmax Tmin
0  01/01/1929      0   11
1  02/01/1929      0    5  23.5    8
2  03/01/1929      0    1    19    4
3  04/01/1929      0    3  18.5  6.5
4  05/01/1929      0    4    20    2

$\text{Después habrá que convertir a número flotante o numérico los datos de Precipitación, Evaporación, Temperatura Máxima y Temperatura mínima utilizando la función: df.to_numeric()}$

In [10]:
# deseamos convertir los valores de las variables ambientales a núm. flotantes 
cols_list = ['Precip','Evap','Tmax','Tmin']
for cols in cols_list:
  df_work1[cols] = pd.to_numeric(df_work1[cols], errors='coerce')

$\text{Contrasta ahora la información de tu DataFrame con la función: df.info()}$

In [11]:
df_work1.info() # ahora todos son flotantes excepto Fecha

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28868 entries, 0 to 28867
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   28868 non-null  object
 1   Precip  28843 non-null  float64
 2   Evap    28117 non-null  float64
 3   Tmax    28727 non-null  float64
 4   Tmin    28756 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.1+ MB

$\text{Se puede contabilizar el número de datos faltantes en esas variables mediante la función: df.isnull().sum()}$

In [12]:
# de la instruccion anterior, vemos que hay valores faltantes. sumamos los valores nulos
df_work1.isnull().sum()

Fecha       0
Precip     25
Evap      751
Tmax      141
Tmin      112
dtype: int64

$\text{Imprime de nuevo el encabezado y final de tu dataframe, con las funciones df.head() y df.tail()}$

In [13]:
print(df_work1.head())
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1929     0.0  11.0   NaN   NaN
1  02/01/1929     0.0   5.0  23.5   8.0
2  03/01/1929     0.0   1.0  19.0   4.0
3  04/01/1929     0.0   3.0  18.5   6.5
4  05/01/1929     0.0   4.0  20.0   2.0
        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1929     0.0  11.0   NaN   NaN
1  02/01/1929     0.0   5.0  23.5   8.0
2  03/01/1929     0.0   1.0  19.0   4.0
3  04/01/1929     0.0   3.0  18.5   6.5
4  05/01/1929     0.0   4.0  20.0   2.0

$\text{Realiza una estadística básica de las variables numéricas de tu dataframe usando la función: df.describe() y haz una interpretación de los resultados, para ver si tienen sentido}$ \\
$\text{físico (por ej. valores negativos de precipitación, valores extremos fuera de lo normal, etc)}$

In [14]:
# un analisis estadístico breve de las variables numéricas redondeado a 2 cifras significativas
df_work1.describe().round(2)

         Precip      Evap      Tmax      Tmin
count  28843.00  28117.00  28727.00  28756.00
mean       0.59      4.63     23.99     11.75
std        3.31      2.47      5.27      4.38
min        0.00      0.00      6.40     -6.00
25%        0.00      2.70     20.00      8.50
50%        0.00      4.60     24.00     12.00
75%        0.00      6.20     27.60     15.00
max       90.00     18.00     45.00     30.00

$\text{Análisis de la variable Fecha}$

$\text{Comienza haciendo una copia del dataframe del paso anterior, por si se requiere recuperar el nuevo dataframe, utilizando df:new=df.copy()}$

In [15]:
# volvemos a hacer una pausa y definimos un nuevo dataframe por si hay que regresarse.
df_work2 = df_work1.copy()
df_work2['Fecha'].head()

0    01/01/1929
1    02/01/1929
2    03/01/1929
3    04/01/1929
4    05/01/1929
Name: Fecha, dtype: object

$\text{Utiliza la función de Pandas pd.to_datetime(), para convertir el objeto Fecha a formato de fecha que comprende Python.  Lee el manual de esa función e intenta la conversión. }$

In [16]:
# pandas tiene la función pd.to_datetime que convierte una cadena en tipo datetime64[ns]
# intentamos a ver si Python reconoce el formato en nuestro caso. 
# agregamos la opción de que el primer dato es el día (dayfirst=True)
df_work2['Fecha']=pd.to_datetime(df_work2['Fecha'], dayfirst=True).copy()
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1929     0.0  11.0   NaN   NaN
1  02/01/1929     0.0   5.0  23.5   8.0
2  03/01/1929     0.0   1.0  19.0   4.0
3  04/01/1929     0.0   3.0  18.5   6.5
4  05/01/1929     0.0   4.0  20.0   2.0

$\text{Después utiliza la función df.dtypes para verificar que todas las variables son del tipo deseado.}$

In [17]:
# verificamos que cada variable (columna), sea del tipo que esperamos.
# observamos que la variable Fecha es de tipo 'datetime64[ns]'  
df_work2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

$\text{Enseguida con la ayuda de las funciones de Pandas df['Fecha'].dt.year y df['Fecha'].dt.month, crea dos columnas nuevas adicionales df['Año'] y df['Mes'].}$

In [19]:
# Buscamos ahora añadir dos columnas adicionales: df['Año'], df['Mes']
# Usaremos la función .dt.year y .dt.month para extraer el Año y Mes de la Fecha
df_work2['Año'] = df_work2['Fecha'].dt.year
df_work2['Mes'] = df_work2['Fecha'].dt.month

$\text{Utilizando la función print aplicado a las funciones df.head() y df.tail(), verifica que el dataframe tiene la forma deseada.}$

In [20]:
# Verificamos que se hayan creado de forma correcta
# Tendremos ahora dos columnas adicionales que podemos utilizar para filtrar información.
print(df_work2.head())
print(df_work2.tail())

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1929-01-01     0.0  11.0   NaN   NaN  1929    1
1 1929-01-02     0.0   5.0  23.5   8.0  1929    1
2 1929-01-03     0.0   1.0  19.0   4.0  1929    1
3 1929-01-04     0.0   3.0  18.5   6.5  1929    1
4 1929-01-05     0.0   4.0  20.0   2.0  1929    1
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
28863 2012-12-27     0.0   0.4  17.0   9.0  2012   12
28864 2012-12-28     0.0   2.7  21.0   5.0  2012   12
28865 2012-12-29     3.1   1.3  17.0   5.0  2012   12
28866 2012-12-30     5.6   2.0  13.0   6.0  2012   12
28867 2012-12-31     0.0   0.2  18.0   5.0  2012   12

$\text{Complementa con la función df.dtypes, para verificar que todas las variables son del tipo adecuado.  }$

In [22]:
# verificamos que Año y Mes son variables enteras.
df_work2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
Año                int64
Mes                int64
dtype: object

In [23]:
df_work2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28868 entries, 0 to 28867
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   28868 non-null  datetime64[ns]
 1   Precip  28843 non-null  float64
 2   Evap    28117 non-null  float64
 3   Tmax    28727 non-null  float64
 4   Tmin    28756 non-null  float64
 5   Año     28868 non-null  int64
 6   Mes     28868 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 1.5 MB